@tailwind base;
@tailwind components;
@tailwind utilities;


        ul{
          list-style-type: none;
          /* margin: 10px; */
          /* padding: 10px; */
          display: flex;
          justify-content: center;
          
        }
      li{
        margin: 10px;
        
      }
      div{
        margin: 10px;
      }